* {
    margin: 0;
    padding: 0;
}


.nav{
    display: flex;
    height: 10vh;
    width: 98.72vw;
    /* background-color: #ebeaea; */
    background-color: #f4f7ff;
    /* background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */


    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    border: 1px solid rgba(0, 0, 0, 0.575);
}

.nav1{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
}

.nav2{
    display: flex;
    width: 20%;
    justify-content: center;
}
.nav3{
    display: flex;   
    width: 20%;
    justify-content: space-between;
}

.nav3 a{
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(92, 172, 17);
    font-size: 20px;
}



.logo img{
    padding: 3px 3px;
    height: 40px;
    width: 75px;
}

h1{
    justify-content: center;
    text-align: center;
    color: green;
}


.nav3 a:hover{
    color: red;
} 



.login button{
    padding: 3px;
    border-radius: 7px;
    height: 30px;
}

.login :hover{
    color: red;
}

.inmap{
    display: flex;
}

.inmap img{
    height: 90vh;
    width: 75vw;
    border: 1px solid rgba(0, 0, 0, 0.575);
}

.inmap .post-location-form{
    background-color: #e99fc8;
    height: 90vh;
    width: 25vw;
    border: 1px solid rgba(0, 0, 0, 0.575);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.location{
    height: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}

.form_1{
    background-color: white;
    border: 1px solid black;
    height: 60%;
    border-radius: 7px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    font-size: 20px;
}

.form input{
    outline: none;
    height: 25px;
}

.login1{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post button{
    width: 224px;
}